@charset "utf-8";
*:before, *:after, *:link, *:visited, *:hover, *:active, *:focus , * 
{
-o-transition: color .20s linear, background-color .20s linear, border-color .20s linear;
-webkit-transition: color .20s linear, background-color .20s linear, border-color .20s linear;
-moz-transition: color .20s linear, background-color .20s linear, border-color .20s linear;
transition: color .20s linear, background-color .20s linear, border-color .20s linear;
}

body 
{ 
	background: url(../images/bg.jpg) no-repeat #000; 
	background-size: cover; 
	background-attachment: fixed; 
	color: #fff; 
	font-size: 16px; 
	/*line-height: 1.6em;*/ 
	font-family: 'DINPro-Regular', Arial, Helvetica, sans-serif; 
}

a 
{ 
	color: #fff; 
}

a:hover, a[href='']:hover, a[href='#']:hover 
{ 
	color: inherit; 
	color: #F00; 
}

a:hover, a:focus 
{ 
	color: #f00; 
	text-decoration: none; 
}

.container-fluid 
{ 
	padding:0 15px;
}

.inner-container 
{ 
	margin-top: 0; 
	padding: 0 30px; 
	background: #000; 
}
.page-container 
{ 

	margin-top: 0; 
	padding: 30px; 
	background: #000; 
	position: relative; 
	-webkit-border-radius: 4px; 
	-moz-border-radius: 4px; 
	border-radius: 4px; 
}

/**Text: font**/
h1, h2, h3, h4, h5, h6
{
	font-family: 'DINPro-Regular', Arial, Helvetica, sans-serif; 
}
h1, h2
{
	text-transform: uppercase;
}

h1 
{ 
	color: #f00; 
	font-size: 2em; 
	/*font-weight: 100; */
	margin-bottom: 20px; 
}

h2 
{ 
	color: #f00; 
	font-size: 1.5em; 
	/*font-weight: 400; */
	margin-bottom: 7px; 
}

h3 
{ 
	color: #fff; 
	font-size: 1.1em; 
	/*font-weight: 100; */
	margin-bottom: 5px; 
}

h4 
{ 
	color: #fff; 
	font-size: 1.3em; 
	/*font-weight: 400; */
	margin-bottom: 10px; 
}

h1 span.subtitle 
{ 
	color:#fff; 
	font-size:90%; 
	text-transform:none;
}

/*graybox*/
.graybox 
{
	background-image: -ms-linear-gradient(bottom, #0C0C0C 0%, #232323 100%); 
	background-image: -moz-linear-gradient(bottom, #0C0C0C 0%, #232323 100%); 
	background-image: -o-linear-gradient(bottom, #0C0C0C 0%, #232323 100%); 
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #0C0C0C), color-stop(1, #232323)); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#232323', endColorstr='#0c0c0c', GradientType=0 ); 
	/* IE6-8 */
	border: 1px solid #131313; 
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px; 
	border-radius: 5px; 
}
/*Header*/
.header 
{ 
	height: 90px; 
	position: relative; 
	z-index: 2; 
}
.header .topnav 
{ 
	list-style: none; 
	padding: 0; 
	margin-top: 30px; 
	float: right; 
}
.header .topnav li 
{ 
	float: left; 
	padding: 0 15px; 
	margin: 0; 
	line-height: 40px; 
	font-size: 1.1em; 
	font-weight: 100; 
	font-family: 'DINPro-Regular', Arial, Helvetica, sans-serif; 
	text-transform: uppercase; 
}
.header .topnav li.on 
{ 
}
.header .topnav li:hover 
{ 
	color: red; 
}
.header .topnav>li>a 
{ 
	padding: 0 0; 
	color: #fff; 
}
.header .topnav>li>a:hover, .header .topnav>li>a:focus 
{ 
	color: red; 
	text-decoration: none; 
	background-color: none; 
}
.header .topnav .selectricWrapper 
{ 
	padding-top: 7px; 
}
.header .topnav .lan 
{ 
	display:inline-block; 
	float:left; 
	width:150px; 
	margin-left:5px;
}
.header .msilogo 
{ 
	height: 100px; 
	color: #fff; 
	font-size: 25px; 
	text-transform: uppercase; 
	font-family: 'DINPro-Regular', Arial, Helvetica, sans-serif; 
	line-height: 100px; 
}
.header .msilogo img
{ 
 	float: left; 
	margin-top: 20px; 
	margin-right: 10px; 
}
.mainbox 
{ 
	padding: 85px 0;
}
/**index-logout**/
.mm-index 
{ 
	line-height:1.7em;
}
.mm-index-ul 
{ 
	padding: 20px 0; 
	padding-left:50px; 
	margin: 0; 
	color: #fff; 
	list-style: none; 
}
.mm-index-ul li 
{ 
	padding: 0; 
	margin: 0; 
}
.index_logonbox 
{ 
	padding: 0 25px 25px 25px; 
}
.index_logonbox .form-horizontal .control-label 
{ 
	text-align: left; 
}
.index_logonbox .form-horizontal span 
{ 
	color: #888; 
	font-weight: 100; 
}
.index_logonbox2 
{ 
	border-top:1px solid #1e1e1e; 
	padding:25px; 
	margin:0 -25px;
}

/**form**/
.form-horizontal .control-label 
{ 
	text-align: left; 
	line-height:1.3em; 
}
.lable_small 
{
	font-weight:100; 
	padding-bottom:7px;
}
.form-control 
{ 
	font-size: 14px; 
	color: #fff; 
	background-color: #3b3b3b; 
	border: 1px solid #383838; 
}
.form-control:focus 
{ 
	border-color: #ff0000; 
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255,0,0,.6); 
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255,0,0,.6)
}
.form-group 
{ 
	margin-bottom:10px;
}
.control-label .small 
{ 
	font-weight:100; 
	color:#888;
}
.textarea2 
{ 
	background:none;
}
.form-group .txtsmall 
{ 
	color:#888; 
	font-size:15px;
}
.form-group .fa-asterisk 
{ 
	font-size:60%; 
	color:#f00; 
	margin-right:0.5em; 
	margin-left:-1.5em;
}
/**button**/
.btn 
{
	-webkit-border-radius: 6px; 
	-moz-border-radius: 6px; 
	border-radius: 6px; 
	font-size:16px;
}
.btn-lg, .btn-group-lg>.btn 
{ 
	padding: 10px 16px; 
	font-size: 19px; 
	line-height: 1.33; 
	border-radius: 8px;
}
.btn-sm, .btn-group-sm>.btn 
{ 
	padding: 5px 10px; 
	font-size: 14px; 
	line-height: 1.5; 
	border-radius: 5px
}
.btn-xs, .btn-group-xs>.btn 
{ 
	padding: 1px 5px; 
	font-size: 12px; 
	line-height: 1.5; 
	border-radius: 3px
}

.btn-default 
{ 
	color: #fff; 
	background-color: #c20000; 
	border-color: #d20000
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default 
{ 
	color: #fff; 
	background-color: #f00; 
	border-color: #f00;
}
.btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default 
{ 
	background-image: none;
}
.btn-default.disabled, 
.btn-default[disabled], 
fieldset[disabled] .btn-default, 
.btn-default.disabled:hover, 
.btn-default[disabled]:hover, 
fieldset[disabled] .btn-default:hover, 
.btn-default.disabled:focus, 
.btn-default[disabled]:focus, 
fieldset[disabled] .btn-default:focus, 
.btn-default.disabled:active, 
.btn-default[disabled]:active, 
fieldset[disabled] .btn-default:active, 
.btn-default.disabled.active, 
.btn-default[disabled].active, 
fieldset[disabled] .btn-default.active 
{ 
	background-color: #c20000; 
	border-color: #d20000;
}
.btn-default .badge 
{ 
	color: #c20000; 
	background-color: #d20000;
}
.btn-gray 
{ 
	color: #fff; 
	background-color: #333; 
	border-color: #383838
}
.btn-gray:hover, .btn-gray:focus, .btn-gray:active, .btn-gray.active, .open>.dropdown-toggle.btn-gray 
{ 
	color: #fff; 
	background-color: #555; 
	border-color: #666;
}
.btn-gray:active, .btn-gray.active, .open>.dropdown-toggle.btn-gray 
{ 
	background-image: none;
}
.btn-gray.disabled, .btn-gray[disabled], 
fieldset[disabled] .btn-gray, .btn-gray.disabled:hover, 
.btn-gray[disabled]:hover, fieldset[disabled] .btn-gray:hover, 
.btn-gray.disabled:focus, .btn-gray[disabled]:focus, 
fieldset[disabled] .btn-gray:focus, .btn-gray.disabled:active, 
.btn-gray[disabled]:active, fieldset[disabled] .btn-gray:active, 
.btn-gray.disabled.active, .btn-gray[disabled].active, fieldset[disabled] .btn-gray.active 
{ 
	background-color: #333; 
	border-color: #383838;
}
.btn-gray .badge 
{ 
	color: #444; 
	background-color: #333;
}

.btn-gray2 
{ 
	color: #fff; 
	background-color: #868686; 
	border-color: #383838;
}
.btn-gray2:hover, .btn-gray2:focus, .btn-gray2:active, .btn-gray2.active, .open>.dropdown-toggle.btn-gray2 
{ 
	color: #fff; 
	background-color: #555; 
	border-color: #666;
}
.btn-gray2:active, .btn-gray2.active, .open>.dropdown-toggle.btn-gray2 
{ 
	background-image: none;
}
.btn-gray2.disabled, .btn-gray2[disabled], 
fieldset[disabled] .btn-gray2, .btn-gray2.disabled:hover, 
.btn-gray2[disabled]:hover, fieldset[disabled] .btn-gray2:hover, 
.btn-gray2.disabled:focus, .btn-gray2[disabled]:focus, 
fieldset[disabled] .btn-gray2:focus, .btn-gray2.disabled:active, 
.btn-gray2[disabled]:active, fieldset[disabled] .btn-gray2:active, 
.btn-gray2.disabled.active, .btn-gray2[disabled].active, fieldset[disabled] .btn-gray2.active 
{ 
	background-color: #333; 
	border-color: #383838;
}
.btn-gray2 .badge 
{ 
	color: #444; 
	background-color: #333;
}


/**graybox-img**/
.graybox-img
{
	background:url(../images/subbg.png); 
	padding:50px 65px;-webkit-border-radius: 5px; 
	-moz-border-radius: 5px; 
	border-radius: 5px; 
	position:relative; 
	overflow:hidden;
}
.graybox-light
{
	background:#232323; 
	padding:50px 65px;-webkit-border-radius: 5px; 
	-moz-border-radius: 5px; 
	border-radius: 5px;
}
.contentbox .graybox-img 
{ 
	padding:30px;
}
.contentbox .graybox-img .row 
{ 
	margin-left:-30px;margin-right:-30px;
}

.line 
{ 
	border-top:1px solid #1e1e1e; 
	margin:25px 0;
}
.graybox-img .line 
{ 
	margin:25px -65px;
}
.contentbox .graybox-img .line 
{ 
	margin:25px -30px;
}
/*.contentbox .graybox-img a 
{ 
color:#fff; 
text-decoration:underline;
}
.contentbox .graybox-img a:hover 
{ 
color:#f00;
}
.contentbox .graybox-img a.redtxt 
{ 
color:#f00; 
text-decoration:underline;
}
.contentbox .graybox-img a.redtxt:hover 
{ 
	color:#fff;
	}*/
/**sideNav**/
.sideNav 
{ 
	list-style:none; 
	font-size:18px; 
	text-transform:uppercase; 
	font-weight:bold; 
	padding-left:10px;
}
.sideNav a 
{ 
	display:block; 
	padding:10px 0;
}
.sideNav a:hover 
{ 
	color:#f00;
}
.sideNav .on a 
{ 
	color:#f00;
}

.welcome_bar 
{ 
	padding-bottom:15px;
}
.username 
{ 
	color:#f00; 
	display:inline-block; 
	padding-left:7px;
}
.Hotevent_list 
{ 
	padding:25px 25px;
}
.Hotevent_list .eventbox
{
	-webkit-border-radius: 7px; 
	-moz-border-radius: 7px; 
	border-radius: 7px; 
	overflow:hidden; 
	position:relative; 
	cursor:pointer; 
}
.Hotevent_list .eventbox img 
{ 
	width:100%;
}
.eventbox .event_info 
{ 
	position: absolute; 
	bottom:-5px; 
	padding-bottom:5px; 
	background: rgba(0, 0, 0, 0.6);
}
.bu-date 
{ 
	background:#b30200; 
	text-align:center; 
	padding:10px;
}
.bu-date .bu 
{ 
	display:block; 
	font-size:36px; 
	font-weight:bold; 
	text-transform:uppercase; 
}
.date-start ,.date-end 
{ 
	font-size:12px; 
	display:block; 
	line-height:15px; 
}
.eventbox .info 
{ 
	padding:10px; 
	font-size:13px;
}
.flag 
{ 
	position:absolute; 
	top:0; 
	right:0;
}
.event_d_toppic 
{ 
	margin-top:-25px; 
	margin-bottom:30px;
}
.event_d_toppic img 
{ 
	width:100%;
}
.event_link 
{ 
	font-weight:bold; 
	font-size:120%; 
	line-height:1.8em;
}
.event_link a 
{ 
	color:#f00;
}

.eventbox 
{
	border:1px solid #000;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075); 
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075); 
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s; 
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; 
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.eventbox:hover 
{ 
	border:1px solid #b30200; 
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255,0,0,.6); 
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255,0,0,.6);
}


/**table**/
.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th 
{ 
	background-color: #161616;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td 
{ 
	padding:13px; 
	border-top:none; 
}
.tableB>thead>tr>th, .tableB>tbody>tr>th, .tableB>tfoot>tr>th 
{ 
	padding:10px 13px; 
	font-size:120%; 
	font-weight:bold;
}
.tableA>thead>tr>th, .tableA>tbody>tr>th, .tableA>tfoot>tr>th 
{ 
	padding:10px 13px; 
	font-size:100%; 
	font-weight:bold;
}
.tableA td ,.tableB td  
{ 
	color:#888;
}
.tableB ,.tableA 
{ 
	background:#0d0d0d; 
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px; 
	overflow:hidden; 
	border-bottom:1px solid #333;
}
.tableB th 
{ 
	background:url(../images/tb_th.jpg) repeat-x; 
	background-size:auto 100%; 
	color:#fff;
}
.tableA th 
{ 
	background:url(../images/tb_th2.jpg) repeat-x; 
	background-size:auto 100%; 
	color:#fff;
}
.redth th 
{ 
	background:url(../images/tb_th3.jpg) repeat-x; 
	background-size:auto 100%; 
	color:#fff;
}
.table-bordered 
{ 
	border-color:#222;
}
.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, 
.table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, 
.table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td 
{
	border-color:#222222;
}
.tableB .date ,.tableA .date 
{ 
	color:#888;
}

/**support**/
.su-nav 
{ 
	padding:25px 0;
}
.supportbox 
{ 
	padding:5px;
}
.support_icon 
{ 
	text-align:center; 
	padding:15px; 
	min-height:220px; 
	cursor:pointer;
}
.support_icon h2 
{ 
	color:#fff; 
	margin-top:0px;
}
.support_icon img 
{ 
	margin:0 auto;
}
.support_icon p 
{ 
	color:#b7b7b7; 
	font-size:90%;
}
.support_icon:hover 
{ 
	background:#A60004;
}
.supportbox .off 
{ 
	opacity:0.3;
}

.sup_faqbox {}
.sup_faqlist 
{ 
	list-style:none; 
	padding:20px 40px; 
	margin:0; 
	line-height:1.5em;
}
.sup_faqlist li 
{ 
	border-bottom:1px dotted #414141; 
	padding:10px 10px 10px 40px; 
	cursor:pointer;
}
.sup_faqlist li:hover 
{ 
	background:#1a1a1a;
}
.sup_faqlist .fa 
{ 
	margin-left:-30px; 
	margin-right:12px; 
	color:#f00;
}
.sup_faqlist .qq {}
.sup_faqlist .ans 
{ 
	display:none; 
	padding:15px 15px 15px 40px; 
	color:#888;
}
.sup_faqlist .show 
{ 
	display:block;
}

.pdfun 
{
	padding:15px 20px; 
	margin:0; 
	line-height:1.5em;
}
.pdfun ul 
{ 
	list-style:none; 
}
.pdfun li 
{ 
	border-bottom:1px dotted #414141; 
	padding:5px; 
	width:100%; 
	float:left;
}
.pdfun li:hover 
{ 
	background:#1a1a1a;
}
.pdfun li.btnbox 
{ 
	border-bottom:none; 
	padding:20px 0;
}
.pdfun li.btnbox:hover 
{ 
	background:none;
}
td.open 
{ 
	border-bottom:3px solid #313131; 
	border-right: none; 
	border-left: none;
}


.jump_page 
{ 
	height: 40px; 
	padding: 0; 
	margin: 0; 
}
.jump_page li 
{ 
	list-style: none; 
	text-align: center; 
	line-height: 20px; 
	float: left; 
	cursor: pointer; 
}
.jump_page li:hover, .jump_page li.on 
{ 
}
.jump_page a 
{ 
	width: 25px; 
	height: 25px; 
	color: #fff; 
	overflow: hidden; 
	text-align: center; 
	line-height: 25px; 
	background: #333; 
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px; 
	border-radius: 5px; 
	border: 1px solid #222; 
	cursor: pointer; 
	display: inline-block; 
	margin: 10px 5px 10px 0;
	text-decoration:none; 
}
.jump_page a:hover 
{ 
	border: 1px solid #ff2121; 
	background: #d70000; 
	color: #fff; 
}
.jump_page .last_li a 
{ 
	width: 60px; 
	height: 20px; 
	color: #fff; 
	overflow: hidden; 
	text-align: center; 
	line-height: 20px; 
	background: #333; 
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	border-radius: 3px; 
	border: 1px solid #222; 
	cursor: pointer; 
	display: inline-block; 
	margin: 10px 5px 10px 0; 
}
.jump_page .last_li a:hover 
{ 
	border: 1px solid #ff2121; 
	background: #d70000; 
	color: #fff; 
}
.jump_page li.on a 
{ 
	border: 1px solid #ff2121; 
	background: #d70000; 
	color: #fff; 
}

.txtul {}
.txtul li 
{ 
	margin-bottom:15px;
}



/**quick css**/
.whitetxt 
{ 
	color: #fff; 
}
td.whitetxt 
{ 
	color: #fff; 
}
td.redtxt 
{ 
	color: #f00; 
}
.redtxt 
{ 
	color: #f00; 
}
.graytxt 
{ 
	color: #888; 
}
.fl 
{ 
	float:left;
}
.fr 
{ 
	float:right;
}
a.redtxt 
{
	color: #f00; !important
}
a.redtxt:hover 
{ 
	text-decoration:underline; 
}
.p25 
{ 
	padding: 25px; 
;
}
.p35 
{ 
	padding: 35px; 
;
}
.pt25 
{ 
	margin-top:25px;
}
.mt25 
{ 
	margin-top:50px;
}
.mt15 
{ 
	margin-top:15px;
}
.mtb20 
{ 
	margin:20px 0;
}
.mb15 
{ 
	margin-bottom:15px;
}
.p15-5 
{ 
	padding:0px 5px 15px 5px;
}
.mr5 
{ 
	margin-right:5px;
}
.mr15 
{ 
	margin-right:15px;
}
.w-auto 
{ 
	width:auto;
}